<a href="#top" id="back-to-top" class="back-top text-center"><i class="fa fa-long-arrow-up"></i></a>
<div class="text-center">
    <a href="/">SP Games</a> &copy; 2021<br />
    Free HTML Template by <a href="https://wowthemes.net">WowThemes.net</a>
</div>