<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title: title, type: type, path: path}); %>
</head>

<body class="home-template">
    <div class="site-wrapper">
        <%- include('../partials/header'); %>
            <header class="main-header author-head">
                <div class="vertical">
                    <div class="main-header-content inner">
                        <h1 class="post-title" style="font-size: 4.5rem;">Admin Board</h1>
                        <p class="text-light">Welcome <%-user.username%>!</p>
                    </div>
                </div>
            </header>
            <main class="col-12 text-center pb-5 mb-5 content">
                <div class="wraps">
                    <h1>Games</h1>
                    <a class="btn btn-dark btn-lg w-25 mx-auto d-block mb-5" href="/admin/game/new">Add New Game</a>
                </div>
                <hr class='my-5 mb-1' style="border-top:solid #000;">
                <div class="wraps">
                    <h1>Categories</h1>
                    <a class="btn btn-dark btn-lg w-25 mx-auto d-block mb-5" href="/admin/category/new">Add New Category</a>
                </div>
            </main>
            <footer class="site-footer clearfix">
                <%- include('../partials/footer'); %>
            </footer>
    </div>
</body>

</html>