<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title: title, type: type, path: path}); %>
</head>

<body class="home-template">
    <div class="site-wrapper">
        <%- include('../partials/header'); %>
            <header class="main-header " style="background: #222">
                <video preload="true" autoplay muted loop playsinline poster="/assets/images/sp-games-poster.jpg" style="position: absolute;transform: translate(0%, -15%)">
                    <source src="/assets/images/sp-games-promotional-vid.mp4" type="video/mp4">
                </video>
                <div class="vertical " style="background: #aaa">
                    
                    <div class="main-header-content inner " style="text-shadow: 0px 0px 10px #000">
                        <h1 class="page-title">SP Games</h1>
                        <div class="entry-title-divider">
                            <span></span><span></span><span></span>
                        </div>
                        <h2 class="page-description">Shops, reviews and games since 2077.</h2>
                    </div>
                </div>
                <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll
                        Down</span></a>
            </header>

            <main id="content" class="content" role="main">
                <div class="wraps">
                    <div class="grid" style="position: relative; height: 758.5px;">
                        <div class="grid-item" style="position: absolute; left: 0px; top: 0px;">
                            <article class="post">
                                <div class="wrapgriditem">
                                    <header class="post-header">
                                        <h2 class="post-title"><a href="article.html">Retro &amp; New</a></h2>
                                    </header>
                                    <section class="post-excerpt">
                                        <p>
                                            The house of Dr. Marsh being fully occupied, we made our beds in a shed, a short
                                            distance from it. Suspended from one of the poles <a class="read-more" href="/retro-is-the-new-modern/">»</a>
                                        </p>
                                    </section>
                                    <footer class="post-meta">
                                        <img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin">
                                        <a href="author.html">David</a>
                                        <time class="post-date" datetime="2016-12-18">18 December 2016</time>
                                    </footer>
                                </div>
                            </article>
                        </div>
                        <div class="grid-item" style="position: absolute; left: 514px; top: 0px;">
                            <article class="post tag-romance">
                                <a href="article.html"><img src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/10175658/j2-520x780-520x600.jpg"></a>
                                <div class="wrapgriditem">
                                    <header class="post-header">
                                        <h2 class="post-title"><a href="article.html">Dare to try, dare to explore</a></h2>
                                    </header>
                                    <section class="post-excerpt">
                                        <p>
                                            I noticed near the house a vegetable garden, with the usual variety of
                                            vegetables. In another inclosure was the commencement of an extensive vineyard,
                                            the fruit <a class="read-more" href="article.html">»</a>
                                        </p>
                                    </section>
                                    <footer class="post-meta">
                                        <img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin">
                                        <a href="author.html">David</a>
                                        on <a href="#">romance</a>
                                        <time class="post-date" datetime="2016-12-18">18 December 2016</time>
                                    </footer>
                                </div>
                            </article>
                        </div>
                        <div class="grid-item" style="position: absolute; left: 1028px; top: 0px;">
                            <article class="post">
                                <div class="wrapgriditem">
                                    <header class="post-header">
                                        <h2 class="post-title"><a href="article.html">Winter Collection</a></h2>
                                    </header>
                                    <section class="post-excerpt">
                                        <p>
                                            Having determined to deviate from our direct course, in order to visit the
                                            rancho of Dr. Marsh, we parted from Messrs. McKee and Pickett about noon. <a class="read-more" href="/winter-collection/">»</a>
                                        </p>
                                    </section>
                                    <footer class="post-meta">
                                        <img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin">
                                        <a href="author.html">David</a>
                                        <time class="post-date" datetime="2016-12-18">18 December 2016</time>
                                    </footer>
                                </div>
                            </article>
                        </div>
                        <div class="grid-item" style="position: absolute; left: 0px; top: 233px;">
                            <article class="post tag-romance">
                                <a href="/having-a-first-chance/"><img src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/10175658/j5-520x780-520x600.jpg"></a>
                                <div class="wrapgriditem">
                                    <header class="post-header">
                                        <h2 class="post-title"><a href="article.html">Having a first chance</a></h2>
                                    </header>
                                    <section class="post-excerpt">
                                        <p>
                                            We arrived at the rancho of Dr. Marsh about 5 o'clock P.M., greatly fatigued
                                            with the day's ride. The residence of Dr. M. <a class="read-more" href="/having-a-first-chance/">»</a>
                                        </p>
                                    </section>
                                    <footer class="post-meta">
                                        <img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin">
                                        <a href="author.html">David</a>
                                        on <a href="#">romance</a>
                                        <time class="post-date" datetime="2016-12-18">18 December 2016</time>
                                    </footer>
                                </div>
                            </article>
                        </div>
                        <div class="grid-item" style="position: absolute; left: 1028px; top: 233px;">
                            <article class="post tag-romance featured">
                                <a href="article.html"><img src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/10175658/j3-320x320.jpg"></a>
                                <div class="wrapgriditem">
                                    <header class="post-header">
                                        <h2 class="post-title"><a href="article.html">Trending Colors</a></h2>
                                    </header>
                                    <section class="post-excerpt">
                                        <p>
                                            Our horses were frightened last night by bears, and this morning, with the
                                            exception of those which were picketed, had strayed so far that we did <a class="read-more" href="/trending-colors/">»</a>
                                        </p>
                                    </section>
                                    <footer class="post-meta">
                                        <img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin">
                                        <a href="author.html">David</a>
                                        on <a href="#">romance</a>
                                        <time class="post-date" datetime="2016-12-18">18 December 2016</time>
                                    </footer>
                                </div>
                            </article>
                        </div>
                        <div class="grid-item" style="position: absolute; left: 514px; top: 262px;">
                            <article class="post">
                                <a href="article.html"><img src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/10175658/j8-520x780-520x600.jpg"></a>
                                <div class="wrapgriditem">
                                    <header class="post-header">
                                        <h2 class="post-title"><a href="article.html">What we saw in California</a></h2>
                                    </header>
                                    <section class="post-excerpt">
                                        <p>
                                            We commenced to-day our journey from New Helvetia to San Francisco. Our party
                                            consisted, including myself, of Colonel Russell, Dr. McKee of Monterey, Mr.
                                            Pickett, a <a class="read-more" href="/what-we-saw-in-california/">»</a>
                                        </p>
                                    </section>
                                    <footer class="post-meta">
                                        <img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin">
                                        <a href="author.html">David</a>
                                        <time class="post-date" datetime="2016-12-18">18 December 2016</time>
                                    </footer>
                                </div>
                            </article>
                        </div>
                        <div class="grid-item" style="position: absolute; left: 0px; top: 472px;">
                            <article class="post tag-romance">
                                <a href="article.html"><img src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/30160348/sep4.jpg"></a>
                                <div class="wrapgriditem">
                                    <header class="post-header">
                                        <h2 class="post-title"><a href="article.html">Shadows &amp; Lights</a></h2>
                                    </header>
                                    <section class="post-excerpt">
                                        <p>
                                            Next day Marcolf proves all his statements. Thus, he places a pan of milk in a
                                            dark closet, and suddenly calls the king. Solomon steps into <a class="read-more" href="/shadows/">»</a>
                                        </p>
                                    </section>
                                    <footer class="post-meta">
                                        <img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin">
                                        <a href="author.html">David</a>
                                        on <a href="#">romance</a>
                                        <time class="post-date" datetime="2016-12-18">18 December 2016</time>
                                    </footer>
                                </div>
                            </article>
                        </div>
                        <div class="grid-item" style="position: absolute; left: 1028px; top: 496px;">
                            <article class="post featured">
                                <a href="article.html"><img src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/10175658/j12-520x668-520x600.jpg"></a>
                                <div class="wrapgriditem">
                                    <header class="post-header">
                                        <h2 class="post-title"><a href="article.html">The Book of Delight</a></h2>
                                    </header>
                                    <section class="post-excerpt">
                                        <p>
                                            Joseph Zabara has only in recent times received the consideration justly due to
                                            him. Yet his "Book of Delight," finished about the year 1200, is more <a class="read-more" href="/drinking-whenever-you-are-ready-or-even-if-youre-not/">»</a>
                                        </p>
                                    </section>
                                    <footer class="post-meta">
                                        <img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin">
                                        <a href="author.html">David</a>
                                        <time class="post-date" datetime="2016-12-14">14 December 2016</time>
                                    </footer>
                                </div>
                            </article>
                        </div>
                        <div class="grid-item" style="position: absolute; left: 514px; top: 525px;">
                            <article class="post">
                                <div class="wrapgriditem">
                                    <header class="post-header">
                                        <h2 class="post-title"><a href="article.html">Fashion Teenager</a></h2>
                                    </header>
                                    <section class="post-excerpt">
                                        <p>
                                            You must try to understand that when I finished school I was as raw as raw could
                                            be. I had never travelled anywhere on my own, <a class="read-more" href="/reading-fashion-eating-books/">»</a>
                                        </p>
                                    </section>
                                    <footer class="post-meta">
                                        <img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin">
                                        <a href="author.html">David</a>
                                        <time class="post-date" datetime="2016-12-14">14 December 2016</time>
                                    </footer>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </main>

            <footer class="site-footer clearfix">
                <%- include('../partials/footer'); %>
            </footer>
    </div>
</body>

</html>