<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title: title, type: type, path: path}); %>
</head>

<body class="home-template">
    <div class="site-wrapper">
        <%- include('../partials/header'); %>
            <header class="main-header " style="background: #222">
                <video preload="true" autoplay muted loop playsinline poster="/assets/images/sp-games-poster.jpg"
                    style="position: absolute;transform: translate(0%, -15%); width: 100%; ">
                    <source src="/assets/images/sp-games-promotional-vid.mp4" type="video/mp4">
                </video>
                <div class="vertical " style="background: #aaa">

                    <div class="main-header-content inner " style="text-shadow: 0px 0px 10px #000">
                        <h1 class="page-title" >SP Games</h1>
                        <div class="entry-title-divider">
                            <span></span><span></span><span></span>
                        </div>
                        <h2 class="page-description">Shops, reviews and games since 2077.</h2>
                    </div>
                </div>
                <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll
                        Down</span></a>
            </header>

            <main id="content" class="content" role="main">
                <h3 class="text-center">Find your Favourite Games</h3>
                <form class="col-8 offset-2" method="get" action="/search" autocomplete="off">
                    <div class="form-group row">
                        <input type="text" class="form-control form-control-lg text-center col-11" id="title" name="title"
                            placeholder="Search Your Favourite Games" style="height:5rem;">
                        <button class="btn btn-dark btn-lg ml-3" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </main>

            <footer class="site-footer clearfix">
                <%- include('../partials/footer'); %>
            </footer>
    </div>
</body>

</html>